@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

$font-body: 'Bai Jamjuree', sans-serif;

$color-strong-cyan: hsl(171, 66%, 44%);
$color-light-blue: hsl(233, 100%, 69%);
$color-dark-grayish-blue: hsl(210, 10%, 33%);
$color-grayish-blue: hsl(201, 11%, 66%);
$color-white: hsl(0, 0%, 100%);
